html{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}

body{
    background-image: url("../../img/bg.jpg");
    background-size: cover;
    background-position: center;
    color:white
}

.logo{
    width: 10vw;
    height: 8vh;
    text-align: center;
    align-self: center;  
}

.logo_txt{
    font-size: 1rem;
}

/* ************** header ***************** */
.section{
    width: 100vw;
    height: 80vh
}

.content{
    flex-direction: column;
    width: 60vw;
    height: 35vh;
    background-color: rgba(0,0,0,0.3);
}

.banner{
    flex-direction: column;
    width: 40vw;
    height: 20vh;
    font-size: 1.5rem;
}

.clock{
    margin-top: 2vh;
}

.inp_qr{
    width: 40vw;
    border: 0;
    border-radius: 2vw;    
    padding: 10px;
    font-size: 1rem;
    outline: none;
}

.footer{
    display: flex;
    width: 100vw;
    height: 10vh;
}

.copyright{
    margin-left: 20px;
    font-size: 1rem;
}

